.contact-section {
    display: block !important;
    padding: 30px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 10px; 
    min-height: 200px;
    visibility: visible !important;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    z-index: 10;
    /* width: 100vh; */
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #3056d3;
    display: inline-block;
  }
  
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 30px;

}
  
  .contact-image {
    width: 50%;
    object-fit: cover;
    opacity: 1;
  }
  
  .contact-info {
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
  }
  