.contact-section {
    padding: 50px 10%;
    background-color: #ffffff;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #3056d3;
    display: inline-block;
  }
  
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
  }
  
  .contact-image {
    width: 50%;
    object-fit: cover;
    opacity: 0.8;
  }
  
  .contact-info {
    width: 40%;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
  }
  