.footer {
    background-color: #3056d3;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: auto;
  }
  