html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* 본문이 차지할 영역 확보 */
}

.footer {
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;  /* 절대 위치로 인한 문제 방지 */
  bottom: 0;
  left: 0;
  flex-shrink: 0;  /* footer가 줄어들지 않도록 설정 */
}
