.techdata-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
  }
  
  .techdata-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .techdata-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .techdata-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
  }
  
  .techdata-info {
    text-align: left;
  }
  
  .techdata-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .techdata-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .techdata-info ul {
    padding-left: 20px;
  }
  
  .techdata-info li {
    font-size: 14px;
    line-height: 1.6;
  }
  