/* src/Business/BuizCssFile/BusinessSection.css */
.business-section {
    text-align: center;
    padding: 40px 20px;
    margin-top: 0%;
    opacity: 0;
    transform: translateY(50px); /* 아래에서 부드럽게 올라오는 효과 */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .business-section.fade-in {
    opacity: 1;
    transform: translateY(0);
}
  
  .business-section h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .business-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .business-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
  }

  /* .business-card:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
} */
  
.business-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
  
  .business-card h3 {
    font-size: 18px;
    margin: 15px 0;
  }
  
  .business-card p {
    font-size: 14px;
    color: #666;
  }
  