@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.solutions-main {
  text-align: center;
  padding: 50px 20px;
  margin-top: 0%;
  background-color: white;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

  .solutions-intro {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .intro-circles {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .circle_sol {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid #ddd;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
  }

  /* .circle_sol:hover {
    transform: scale(1.05); /* 살짝 확대 */
   */
  

  .circle_sol img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .circle_sol h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .circle_sol ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  
  .step-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .step-section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .step-image {
    width: 100%;  /* 부모 요소 기준으로 가득 차도록 설정 */
    max-width: 400px; /* 최대 너비 제한 */
    height: 250px; /* 모든 이미지 높이를 동일하게 설정 */
    object-fit: cover; /* 비율을 유지하면서 넘치는 부분을 잘라 정렬 */
    display: block;
}
  .step-content {
    width: 55%;
    text-align: left;
  }
  
  
  .step-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .step-content ul {
    list-style: none;
    padding: 0;
  }
  
  .step-content li {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
  }
  
  .business-contact {
    text-align: left;
    margin-top: 50px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
  }
  

